node-version: 22.22.0

build:
  - frontend: npm install && npm run build && npm run preview
  - backend: cd ../backend && pip install -r requirements.txt && python manage.py collectstatic --noinput && python manage.py migrate

env:
  # Frontend
  - key: VITE_API_URL
    value: https://your-backend-domain.onrender.com/api

  # Backend
  - key: SECRET_KEY
    generateValue: true
  - key: DEBUG
    value: "False"
  - key: ALLOWED_HOSTS
    value: localhost,127.0.0.1,your-domain.onrender.com
  - key: CORS_ALLOWED_ORIGINS
    value: https://your-frontend-domain.onrender.com
  - key: DATABASE_URL
    fromDatabase:
      name: postgres_db
      property: connectionString
